<div *ngIf="product$ | async as product" class="container">
  
  <div class="horizontal-wrapper mt">
    <img [src]="product.image" class="product-image"/>

    <div class="vertical-wrapper">

      <h1 class="product-title">{{ product.name }}</h1>
      <i>{{ product.category }}</i>
      <p><b>Prioridade:</b> {{ product.priority }}</p>
      <h2 class="product-price">{{ convertNumberToCurrencyBRL(product.price) }}</h2>

      <div class="horizontal-wrapper">
        <button class="button" (click)="handleNavigateToShopUrl(product.url)">Comprar</button>
        <button class="button" (click)="handleDeleteProduct()">Remover</button>
        <button class="button" (click)="handleEditProduct()">Editar</button>
      </div>
    </div>
  </div>
</div>
