.header-container{
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: var(--gray-100);
}



a{
  color: var(--gray-900);
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.material-icons {
  font-size: 30px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  &:hover{
    background-color: var(--gray-900);
    color: var(--gray-100);
  }
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  letter-spacing: -1px; /* Espaçamento entre letras */
  text-transform: uppercase; /* Transforma o texto em maiúsculas */
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 1rem;
  margin-inline: 10px;
  list-style: none;
}


.navbar-link {
  padding: 10px;
  color: var(--gray-900);
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: .9375rem;

  display: flex;
  align-items: center;
  gap: 5px;

}
