<header class="header-container">
  <nav class="navbar-container">
    <a
      routerLink="/"
      class="navbar-link"
    > Home </a>
    <ul class="navbar-container">
      @if (isUserLoggedIn){
        <a class="navbar-link" routerLink="/profile"> Perfil </a>
        <p
          class="navbar-link"
          (click)="handleLogout()"
        > Sair </p>
      } @else {
        <a class="navbar-link" routerLink="/auth/login"> Login </a>
        <a class="navbar-link" routerLink="/auth/register"> Cadastro </a>
      }
    </ul>
  </nav>
</header>
