<!-- <header class="header-container">
  <nav class="navbar-container">
    <li>
      <a routerLink="/" id="button-home">
        <img src="assets/image/logo.png" class="logo" alt="logo"/>
      </a>
    </li>

    @if (userService.user() !== null){

        <li class="options-container">
          <a>Criar</a>
          <ul class="create-dropdown-options">
            <li>
              <a routerLink="/products/new">Produto</a>
            </li>
            <li>
              <a routerLink="/lists/custom-list">Lista personalizada</a>
            </li>
          </ul>
        </li>

        <li>
          <a (click)="handleLogout()" id="button-logout" >Sair</a>
        </li>
    } @else {
        <li>
          <a routerLink="/auth/login" id="button-login"> Login </a>
        </li>
      <li>
        <a routerLink="/auth/register" id="button-register"> Cadastro </a>
      </li>
    }

  </nav>
</header> -->
<nav class="menu">
  <ol>
    <li class="menu-item">
      <a routerLink="/">Home</a>
    </li>
    @if(userService.user() == null){
      <li class="menu-item">
        <a routerLink="/auth/login">Login</a>
      </li>
      <li class="menu-item">
        <a routerLink="/auth/register"> Cadastro 
          <span class="material-symbols-outlined">
            stat_minus_1
          </span>
        </a>
      </li>
    }
    @else{
      <li class="menu-item">
        <a>Criar</a>
        <ol class="sub-menu">
          <li class="menu-item">
            <a routerLink="/products/new">Produto</a>
          </li>
          <li class="menu-item">
            <a href="#0">Lista personalizada</a>
          </li>
        </ol>
      </li>
    
      <li class="menu-item">
        <a (click)="handleLogout()">Sair</a>
      </li>
    }
  </ol>
</nav>